#list {
  margin: 0 auto;
  width: 330px;
}
.percard {
  margin-top: 20px;
}

/* Vue animation */
.insert-transition {
  transition: all .5s ease;
  overflow: hidden;
}

.insert-enter, .insert-leave {
  height: 0;
  margin: 50px auto;
  opacity: 0;
}
